.chart-series-line{
    -fx-background-color: #2196f3;
}
.default-color0.chart-area-symbol { -fx-background-color: #2196f3, #ffa07a; }

.default-color0.chart-series-area-line { -fx-stroke: #2196f3; }

.default-color0.chart-series-area-fill { -fx-fill: #2196f377; }